In [ ]:
#30dayspythonchallenge_Day5 
# list A list is collection of different data types which is ordered and modifiable(mutable). A list can be empty or it may have different data type items.
lst = list()
print(lst)
fruits = ["banana", "orange", "mango", "lemon"]
vegetables = ["Tomato", "Potato", "Cabbage", "Onion"]
countries = ["Uk", "south korea", "Nigeria", "Sweden"]
print("Fruits:", fruits)
print("Vegetables:", vegetables)
print("Number of countries:", len(countries))

#accessing in list
Lost = ["love", "orange", "mango"]
print(Lost[2])
print(len(Lost) - 1)

[]
Fruits: ['banana', 'orange', 'mango', 'lemon']
Vegetables: ['Tomato', 'Potato', 'Cabbage', 'Onion']
Number of countries: 4
mango
2

In [20]:
#accessing list with negative index
fruits = ["orange", "banana", "mango", "lemon"]
print(fruits[-1])
print(fruits[-3])

## Unpacking list items
list = ["kim","lim", "lee", "jang", "Na"]
first_term, second_term, third_term, *rest = list
print(first_term)
print(second_term)
print(third_term)
print(*rest)

#
list = ["cane", "abel", "kimon", "agent"]
first,second,*rest = list
print(first)
print(second)
print(*rest)

#slicing items from a list
fruits = ['banana', 'orange', 'mango', 'lemon', 'grape']
print(fruits[0:4])
print(fruits[::2])
#
game = ['canva','unity', 'twitter', 'engine', 'oil', 'lame', 'start']
print(game[::2])
print(game[::3])
print(game[:2])
print(game[1:3])

#negative indexing
print(game[-3:-1])
print(game[-3:])
print(game[::-1])

#modifying in list
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits[0] = "avogado"
print(fruits)

#
name = ['seun', 'kemi', 'kuti', 'segun']
name[3] = 'eyitayo'
print(name)
name[0] ='fiyin'
print(name)

lemon
banana
kim
lim
lee
jang Na
cane
abel
kimon agent
['banana', 'orange', 'mango', 'lemon']
['banana', 'mango', 'grape']
['canva', 'twitter', 'oil', 'start']
['canva', 'engine', 'start']
['canva', 'unity']
['unity', 'twitter']
['oil', 'lame']
['oil', 'lame', 'start']
['start', 'lame', 'oil', 'engine', 'twitter', 'unity', 'canva']
['avogado', 'orange', 'mango', 'lemon']
['seun', 'kemi', 'kuti', 'eyitayo']
['fiyin', 'kemi', 'kuti', 'eyitayo']

In [39]:
#checking items in a list
fruits = ['banana', 'orange', 'mango', 'lemon']
name = 'banana' in fruits
print(name)

#adding to items in list To add item to the end of an existing list we use the method append().
name = ['kemi', 'kemo', 'kamsi', 'kay']
name.append('funmi')
print(name)

# Insert; it helps to insert and item into a specified index
name = ['kim', 'john', 'wick', 'frontier']
name.insert(2, 'yemi')
print(name)

#remove format
name.remove('kim')
print(name)

#pop format
name.pop(2)
print(name)

#Joining in list
#plus operator
list1 = [1,2,3,4,5]
list2 = ['femi', 'yemi']
print(list1+list2)

#extend method
list1.extend(list2)
print(list1)

#count
name = [1,2,3,4,5,4,4,4,4]
print(name.count(4))
print(name.index(3))
#reverse
guy = [1, 2, 3, 4, 5]
guy.reverse()
print(guy)

#sort
letter = ['c', 'a', 'd', 'b']
letter.sort()
print(letter)

True
['kemi', 'kemo', 'kamsi', 'kay', 'funmi']
['kim', 'john', 'yemi', 'wick', 'frontier']
['john', 'yemi', 'wick', 'frontier']
['john', 'yemi', 'frontier']
[1, 2, 3, 4, 5, 'femi', 'yemi']
[1, 2, 3, 4, 5, 'femi', 'yemi']
5
2
[5, 4, 3, 2, 1]
['a', 'b', 'c', 'd']

In [28]:
#Exercises: Day 5
#1
empty_list = []
print(empty_list)

#2-4
List = ["kemi", "Liam", "ethan", "celyn", "law", 34, "joyhe"]
print(len(List))
print(List[0])
print(List[3])
print(List[6])

#5
mix_data_types = ["Yetunde", 25, "170cm", "Single", "Dgist"]

#6
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

#7
print(it_companies)

#8
print("Number of companies:", len(it_companies))

#9
print(it_companies[0])
print(it_companies[3])
print(it_companies[6])

#10
it_companies [3] = "DGIST"
print(it_companies)

#11-12
it_companies.insert(0, "samsung")
print(it_companies)

#13
#14

#15
name = "Facebook" in it_companies
print(name)

#16
it_companies.sort()
print(it_companies)

#17
it_companies.reverse()
print(it_companies)

#18 Slice out the first 3 companies from the list
print(it_companies[:3])

#19 Slice out the last 3 companies from the list
print(it_companies[-3:])

#20

#21
it_companies.pop(0)
print(it_companies)

#22
it_companies.pop(4)
print(it_companies)

#23 Remove the last IT company from the list
it_companies.pop()
print(it_companies)

#24
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies

#25
#26
lst1= ['HTML', 'CSS', 'JS', 'React', 'Redux']
lst2 = ['Node','Express', 'MongoDB']
lst1.extend(lst2)
print(lst1)

#27
lst3 = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
lst3.insert(5, "Python")
print(lst3)

#Excercise #5_2
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print(min(ages))
print(max(ages))
print(min(ages) + max(ages))
print((ages[4]+ ages[5])/2)
#average
print(sum(ages)/10)
#range
print(max(ages)-min(ages))
print(min(ages)-sum(ages)/10)
print(max(ages)-sum(ages)/10)

[]
7
kemi
celyn
joyhe
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Number of companies: 7
Facebook
Apple
Amazon
['Facebook', 'Google', 'Microsoft', 'DGIST', 'IBM', 'Oracle', 'Amazon']
['samsung', 'Facebook', 'Google', 'Microsoft', 'DGIST', 'IBM', 'Oracle', 'Amazon']
True
['Amazon', 'DGIST', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'samsung']
['samsung', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'DGIST', 'Amazon']
['samsung', 'Oracle', 'Microsoft']
['Facebook', 'DGIST', 'Amazon']
['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'DGIST', 'Amazon']
['Oracle', 'Microsoft', 'IBM', 'Google', 'DGIST', 'Amazon']
['Oracle', 'Microsoft', 'IBM', 'Google', 'DGIST']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'Node', 'Express', 'MongoDB']
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
45
24.0
22.8
7
-3.8000000000000007
3.1999999999999993

In [49]:
#30dayspythonchallange_day6
#Tuples

empty_tuple = ()
tpl1 = ('kem', 2, 5, 8)
print(tpl1)
#len
print(len(tpl1))
#accessing
print(tpl1.index(2))

#negative indexing
print(tpl1[-4])
    
#slicing tuples
print(tpl1[1:3])
print(tpl1[1:])

#Range of Negative Indexes
tpl = ('item1', 'item2', 'item3','item4')
print(tpl[-4:])
print(tpl[-3:-1])

#Changing Tuples to Lists
#tuple is immuteable, to do that, we have to change it to list first.
tpl = ('item1', 'item2', 'item3','item4')
print(list(tpl))

fruits = ('banana', 'orange', 'mango', 'lemon')
print(list(fruits))


#checking an item in tuple
print("orange" in fruits)
print("mango" in fruits)

#Joining tuples 
tpl1 = ('item1', 'item2', 'item3')
tpl2 = ('item4', 'item5','item6')
print(tpl1 + tpl2)

#deleting tuples
tpl1 = ('item1', 'item2', 'item3')
del tpl1

('kem', 2, 5, 8)
4
1
kem
(2, 5)
(2, 5, 8)
('item1', 'item2', 'item3', 'item4')
('item2', 'item3')
['item1', 'item2', 'item3', 'item4']
['banana', 'orange', 'mango', 'lemon']
True
True
('item1', 'item2', 'item3', 'item4', 'item5', 'item6')

In [82]:
#Exercises_6 Level 1
#1
lim = ()
#2
lim2 = ('kim','ju','kam','kamila','joe')
lim3 = ('seun', 'kemi', 'tito')
#3
print(lim2+lim3)
#4
print(len(lim2+lim3))
#5
lim4 = ('kim', 'ju', 'kam', 'kamila', 'joe', 'seun', 'kemi', 'tito')
family = list(lim4)
print(family)
Family_member = ['kim', 'ju', 'kam', 'kamila', 'joe', 'seun', 'kemi', 'tito']
Family_member.insert(0, "mom")
Family_member.insert(0, "Daddy")
print(Family_member)


#Exercises_6 Level 2
del Family_member
#2
fruits = ('mango', 'apple', 'orange')
vegetables =('rose', 'bitter_leaf')
products = ('milo', 'soap', 'milk')
food_stuff = fruits + vegetables + products
print(food_stuff )

#3
print(list(food_stuff))
#4 Slice out the middle item
print(food_stuff[3:6])
#5 Slice out the first three items  and the last three items 
print(food_stuff[:3])
print(food_stuff[-3:])

#6
del food_stuff

#7
print("mango" in fruits)
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
print('Estonia' in nordic_countries)
print('Iceland'in nordic_countries)

('kim', 'ju', 'kam', 'kamila', 'joe', 'seun', 'kemi', 'tito')
8
['kim', 'ju', 'kam', 'kamila', 'joe', 'seun', 'kemi', 'tito']
['Daddy', 'mom', 'kim', 'ju', 'kam', 'kamila', 'joe', 'seun', 'kemi', 'tito']
('mango', 'apple', 'orange', 'rose', 'bitter_leaf', 'milo', 'soap', 'milk')
['mango', 'apple', 'orange', 'rose', 'bitter_leaf', 'milo', 'soap', 'milk']
('rose', 'bitter_leaf', 'milo')
('mango', 'apple', 'orange')
('milo', 'soap', 'milk')
True
False
True