In [ ]:
#30daysPythonchallenge_DAY10
#LOOPS
#loop is a like a life routine full of repetitive task and to handle this task, we use the loop.
#while loop and For loop
#while condition continues to execute untill the comdition is satisfied
#while condition
      #code
#
count =  0
while count > 5:
    print(count)
    count += 1
else:
    print(count)
#
sum = 5
while sum < 15:
    print(sum)
    sum += 1
else:
    print(sum)

In [22]:
#break and continue
#we break wen we like to stop a loop
#while condition
     #code
     #if condition
        #break
count = 0
while count < 5:
    print(count)
    count += 1
    if count == 3:
        break
    
#continue
count = 0
while count < 5:
    if count == 2:
        count += 1
        continue
    print(count)
    count += 1 #it skips 3
#
count = 10
while count > 15:
    if count == 12:
        count += 2
        continue
    print(count)
    count += 2

0
1
2
0
1
3
4
0
1
2
4
5

In [15]:
#For Loop
#for loop
    #code

#
num = [0, 1, 2, 4, 5]
for i in num:
    print(i)

#
name = ['kemi', 'segun','tunde', 'funmi','funto']
for names in name:
    print(names)
#3 in strings
nam = 'Python'
for i in range(len(name)):
    print(nam[i])
# for; for tuple
num = (0, 1, 2, 3, 4, 5, 6)
for i in num:
    print(i)
    
# dict
num = {'key':'kim',
       'keey': ' kim2'}
for key in num:
    print(key)
    
#set
comp = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
for i in comp:
    print(i)

0
1
2
4
5
kemi
segun
tunde
funmi
funto
P
y
t
h
o
0
1
2
3
4
5
6
key
keey
Facebook
IBM
Apple
Amazon
Google
Microsoft
Oracle

In [19]:
#Break and continue
num = (0, 1, 2, 3, 4, 5)
for i in num:
    print(i)
    if i == 2:
        break
    
#
num = (0,1,2,3,4,5)
for i in num:
    print(i)
    if i == 3:
        continue
    if i != 5:
        print(i + 1)
    else:
        print('okay')
print('outside the loop')

0
1
2
0
1
1
2
2
3
3
4
5
5
okay
outside the loop

In [26]:
#range (start, end and increment)
lst = list(range(11))
print(lst)

#
st = set(range(11))
print(st)

#
for i in range(11):
    print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
0
1
2
3
4
5
6
7
8
9
10

In [29]:
#nested loop 
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)
            
#pass
for num in range(6):
    pass

JavaScript
React
Node
MongoDB
Python

In [10]:
#Exercises: Day 10
#1
for i in range(11):
    print(i)
#
count = 0
while count < 11:
    print(count)
    count += 1
# 2
for i in reversed(range(11)):
    print(i)
# using while loop to go backward(i used break)
count = 10
while count < 12:
    print(count)
    count -= 1
    if count == 0:
        break

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1
0
11

In [68]:
#3
n = 7
for i in range (n):
    for m in range(i):
        print('#', end = '')
    print('')

#4 Use nested loops to create the following
n = 8
for i in range(n):
    if n <= 8:
        print(" # " * n) 
    print('')
    
#5
print('0 x 0' ' = ' '0')
print('1 x 1' ' = ' '1')
print('2 x 2' ' = ' '4')
print('3 x 3' ' = ' '9')
print('4 x 4' ' = ' '16')
print('5 x 5' ' = ' '25')
print('6 x 6' ' = ' '36')
print('7 x 7' ' = ' '49')

#
##
###
####
#####
######
 #  #  #  #  #  #  #  #

 #  #  #  #  #  #  #  #

 #  #  #  #  #  #  #  #

 #  #  #  #  #  #  #  #

 #  #  #  #  #  #  #  #

 #  #  #  #  #  #  #  #

 #  #  #  #  #  #  #  #

 #  #  #  #  #  #  #  #

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49

In [74]:
#6
n = ['Python', 'Numpy','Pandas','Django', 'Flask']
for i in n:
    print(i)
#7 Use for loop to iterate from 0 to 100 and print only even numbers
for i in range(0, 100):
    if i % 2 == 0:
        print(i)

Python
Numpy
Pandas
Django
Flask
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [75]:
#8 Use for loop to iterate from 0 to 100 and print only odd numbers
for i in range(0, 100):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [54]:
#excercise 10_level 2
#8 Use for loop to iterate from 0 to 100 and print only odd numbers
sum = 0
for i in range(0, 100):
        sum += i
print(sum)
# sum of all even no
sum = 0
for i in range(0, 100):
    if i % 2 == 0:
        sum += i
print(sum)

# sum of  all even no
sum = 0
for i in range(0, 100):
    if i % 2 != 0:
        sum += i
print(sum)

#excercise 10_level 2
countries = ['Afghanistan','Albania','Algeria','Andorra']
for i in countries:
    print(i)

# reverse
fruits = ['banana', 'orange', 'mango', 'lemon'] 
list = []
for i in range(len(fruits)):
    list.insert(i, fruits[-1])
    fruits.pop(-1)
print(list)
    
# yet to get the reusult: visit  again
countries = {"name": "Afghanistan",
        "capital": "Kabul",
        "languages": [
            "Pashto",
            "Uzbek",
            "Turkmen"
        ],
        "population": 27657145,
        "currency": "Afghan afghani"
    }
total = 0
for i in countries.values():
    print(i)

4950
2450
2500
Afghanistan
Albania
Algeria
Andorra
['lemon', 'mango', 'orange', 'banana']
Afghanistan
Kabul
['Pashto', 'Uzbek', 'Turkmen']
27657145
Afghan afghani